<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="career-detail-section">
    <div class="career-detail-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="career-detail-container">
                        <div class="job-description">
                            <ul>
                                <li>
                                    <span>Post :</span>
                                    <h4>Volunteer</h4>
                                </li>
                                <li>
                                    <span>Time :</span>
                                    <h4>Full Time</h4>
                                </li>
                                <li>
                                    <span>Salary :</span>
                                    <h4>Negotaible</h4>
                                </li>
                                <li>
                                    <span>No. of Vacancy :</span>
                                    <h4>8</h4>
                                </li>
                            </ul>
                            <figure class="job-imgage">
                                <img src="../../static/assets/images/img15.jpg" alt="">
                            </figure>
                        </div>
                        <div class="tab-container">
                            <div class="responsive-tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a id="tab-A" href="#pane-A" class="nav-link active" data-bs-toggle="tab" role="tab">
                                            Description
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="tab-B" href="#pane-B" class="nav-link" data-bs-toggle="tab" role="tab">
                                            Overview
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a id="tab-C" href="#pane-C" class="nav-link" data-bs-toggle="tab" role="tab">
                                            Requirement
                                        </a>
                                    </li>
                                </ul>

                                <div id="nav-tab-content" class="tab-content" role="tablist">
                                    <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                                        <div class="card-header" role="tab" id="heading-A">
                                            <h5 class="mb-0">
                                                <a data-bs-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">
                                                    Description
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-A" class="collapse show" data-bs-parent="#nav-tab-content" role="tabpanel"
                                             aria-labelledby="heading-A">
                                            <div class="card-body">
                                                <p>Reprehenderit hic bibendum repellendus, repellat auctor! Integer temporibus, facilisis iaculis alias senectus, non quam molestiae incidunt cubilia, fuga? Quasi natoque dicta a fuga dapibus dolore molestie sociis erat, convallis quibusdam possimus semper nonummy mattis, quasi.</p>
                                                <p>Autem nec quaerat cubilia magnam eu mauris hic hac nisi eos nobis officiis corrupti consequuntur molestie urna volutpat! Quos diamlorem convallis vestibulum doloremque iste facilisi.</p>
                                                <ul>
                                                    <li>Nunc minima aspernatur dignissimos, sit adipiscing? Cupidatat cursus.</li>
                                                    <li>Netus donec justo mauris etiam velit.</li>
                                                    <li>Quis dolorum habitasse accusantium hic consequat.</li>
                                                    <li>Mus quasi aute non, at, saepe? Commodi sodales aliquam voluptatum.</li>
                                                    <li>Adipisicing ullamcorper dapibus, consequatur itaque eros orci odio.</li>
                                                    <li>Lobortis facere accusamus nemo, ipsum ad morbi.</li>
                                                    <li>Netus donec justo mauris etiam velit.</li>
                                                    <li>Quis dolorum habitasse accusantium hic consequat.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                                        <div class="card-header" role="tab" id="heading-B">
                                            <h5 class="mb-0">
                                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">
                                                    Overview
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-B" class="collapse" data-bs-parent="#nav-tab-content" role="tabpanel"
                                             aria-labelledby="heading-B">
                                            <div class="card-body">
                                                <h5>#OVERVIEW</h5>
                                                <p>Reprehenderit hic bibendum repellendus, repellat auctor! Integer temporibus, facilisis iaculis alias senectus, non quam molestiae incidunt cubilia, fuga? Quasi natoque dicta a fuga dapibus dolore molestie sociis erat, convallis quibusdam possimus semper nonummy mattis, quasi.</p>
                                                <br>
                                                <h5>#EXPERIENCE</h5>
                                                <p>Curae ad viverra odit porta, dolore, nascetur placeat. Exercitation vulputate modi rhoncus occaecat etiam erat cras erat cumque harum, repellendus. Voluptatem rem porttitor minim nihil.Curae ad viverra odit porta, dolore, nascetur placeat. Exercitation vulputate modi rhoncus occaecat etiam erat cras erat cumque harum, repellendus. Voluptatem rem porttitor minim nihil.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                                        <div class="card-header" role="tab" id="heading-C">
                                            <h5 class="mb-0">
                                                <a data-bs-toggle="collapse" href="#collapse-C" aria-expanded="true" aria-controls="collapse-C">
                                                    Requirement
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-C" class="collapse" data-bs-parent="#nav-tab-content" role="tabpanel"
                                             aria-labelledby="heading-C">
                                            <div class="card-body">
                                                <p>
                                                    Culpa cupidatat occaecat neque hic sollicitudin provident nascetur felis, sollicitudin nonummy class explicabo litora sed. Sapien, nobis consequatur consequatur eaque. Incidunt. Ex? Repellat voluptates dignissim! Aliquam velit natoque aspernatur maiores.
                                                </p>
                                                <ul>
                                                    <li>Nunc minima aspernatur dignissimos, sit adipiscing? Cupidatat cursus.</li>
                                                    <li>Netus donec justo mauris etiam velit.</li>
                                                    <li>Quis dolorum habitasse accusantium hic consequat.</li>
                                                    <li>Mus quasi aute non, at, saepe? Commodi sodales aliquam voluptatum.</li>
                                                    <li>Adipisicing ullamcorper dapibus, consequatur itaque eros orci odio.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-lg-first">
                    <div class="sidebar">
                        <div class="widget-bg sidebar-list">
                            <h4 class="bg-title">How to apply?</h4>
                            <ul>
                                <li><i class="fas fa-minus"></i>Nunc expedita montes minima.</li>
                                <li><i class="fas fa-minus"></i>Animi atque ornare iaculis.</li>
                                <li><i class="fas fa-minus"></i>Sociosqu scelerisque adipisci.</li>
                                <li><i class="fas fa-minus"></i>Purus eveniet incidi dunt.</li>
                                <li><i class="fas fa-minus"></i>Animi atque ornare iaculis.</li>
                            </ul>
                        </div>
                        <div class="widget-bg faq-widget">
                            <h4 class="bg-title">Asked Questions</h4>
                            <div id="sidebar-tab-content" class="accordion-content" role="tablist">
                                <div id="accordion-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                                    <div class="card-header" role="tab" id="qus-A">
                                        <h5 class="mb-0">
                                            <a data-bs-toggle="collapse" href="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                                                When the Announcements?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-one" class="collapse show" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-A">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-B" class="card tab-pane" role="tabpanel" aria-labelledby="tab-B">
                                    <div class="card-header" role="tab" id="qus-B">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                Can i apply after rejection?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-two" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-B">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                        </div>
                                    </div>
                                </div>
                                <div id="accordion-C" class="card tab-pane" role="tabpanel" aria-labelledby="tab-C">
                                    <div class="card-header" role="tab" id="qus-C">
                                        <h5 class="mb-0">
                                            <a class="collapsed" data-bs-toggle="collapse" href="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                Where to Interview?
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-three" class="collapse" data-bs-parent="#sidebar-tab-content" role="tabpanel" aria-labelledby="qus-C">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-bg upload-widget text-center">
                            <div class="widget-icon">
                                <i class="fas fa-file-invoice"></i>
                            </div>
                            <h4>Send us your C.V.</h4>
                            <p>Do you want to work with us? Please, send your CV to <a href="#"><span class="__cf_email__" data-cfemail="5c3833313d35326d6e6f1c3b313d3530723f3331">[email&#160;protected]</span></a></p>
                            <span class="or-style">OR</span>
                            <a href="contact.html" class="button-round-primary">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
